/* MEDIA BREAKPOINTS */
/* 600px */
/* 768px */
/* 960px; */
/* 1280px; */
body {
  background-color: #202020;
  font-family: "Roboto", sans-serif;
}

header {
  padding: 1.5rem 2rem;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25rem;
}
header nav a {
  background-color: #EEEEEE;
  padding: 0.625rem;
  border: none;
  text-decoration: none;
  color: #202020;
}
header nav a:hover, header nav a:focus {
  outline: none;
  background-color: #FFC857;
}
header nav h1 {
  color: #EEEEEE;
  font-size: 3rem;
  margin: 0;
}
header p {
  color: #FFC857;
  font-weight: 200;
  padding-left: 6.4rem;
  margin: 0;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
main button {
  padding: 1.25rem;
  border: none;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
}
main section {
  width: 100%;
}
main section h2 {
  color: #EEEEEE;
  font-weight: 200;
  margin-bottom: 2rem;
}
main section ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  list-style: none;
}
main section .codepen {
  margin: 3rem 0 4rem;
  width: 100%;
  opacity: 1;
  display: block;
  visibility: visible;
  transition: all 0.6s linear;
}
main section .codepen.hidden {
  display: none;
  visibility: hidden;
}
main section .codepen.visually-hidden {
  opacity: 0;
}

.codepen {
  display: none;
}

.button-one {
  position: relative;
  background-color: transparent;
  color: #EEEEEE;
  border: 1px solid #EEEEEE;
  letter-spacing: 1px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-one:after {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  transition: 0.3s;
}
.button-one:hover:after, .button-one:focus:after {
  top: 0;
  left: 0;
}

.left-up:after {
  top: -0.625rem;
  left: -0.625rem;
  background-color: #17C3B2;
}

.left-down:after {
  top: 0.625rem;
  left: -0.625rem;
  background-color: #E6894E;
}

.right-down:after {
  top: 0.625rem;
  left: 0.625rem;
  background-color: #6874E8;
}

.right-up:after {
  top: -0.625rem;
  left: 0.625rem;
  background-color: #FE6D73;
}

.row-two button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 2px solid #EEEEEE;
  color: #EEEEEE;
  padding: 1.125rem;
  cursor: pointer;
  background: #202020;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.row-two button span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 1;
}
.row-two button span:last-child {
  color: #EEEEEE;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 3;
  opacity: 0;
  top: 50%;
  left: 50%;
  height: 1rem;
}
.row-two button:after {
  content: "";
  position: absolute;
  width: 110%;
  height: 100%;
  z-index: 2;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
}
.row-two button:hover span:last-child, .row-two button:focus span:last-child {
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
.row-two .left span:last-child {
  transform: translate(-250%, -50%);
}
.row-two .left:after {
  background-color: #17C3B2;
  left: -50%;
  top: 0;
  transform: skewX(9.3deg) scaleX(0);
  transform-origin: left center;
}
.row-two .left:hover:after, .row-two .left:focus:after {
  transform-origin: left center;
  transform: skewX(9.3deg) scaleX(2);
}
.row-two .left:hover span:last-child, .row-two .left:focus span:last-child {
  transform: translate(-50%, -65%);
}
.row-two .up span:last-child {
  transform: translate(-50%, -425%);
}
.row-two .up:after {
  background-color: #E6894E;
  top: -50%;
  left: 0;
  transform: skewY(9.3deg) scaleY(0);
  transform-origin: top center;
}
.row-two .up:hover:after, .row-two .up:focus:after {
  transform-origin: top center;
  transform: skewY(9.3deg) scaleY(2);
}
.row-two .up:hover span:last-child, .row-two .up:focus span:last-child {
  transform: translateX(-50%) translateY(-65%);
}
.row-two .right span:last-child {
  transform: translate(250%, -50%);
}
.row-two .right:after {
  background-color: #6874E8;
  right: -50%;
  top: 0;
  transform: skewX(9.3deg) scaleX(0);
  transform-origin: right center;
}
.row-two .right:hover:after, .row-two .right:focus:after {
  transform-origin: right center;
  transform: skewX(9.3deg) scaleX(2);
}
.row-two .right:hover span:last-child, .row-two .right:focus span:last-child {
  transform: translate(-50%, -65%);
}
.row-two .down span:last-child {
  transform: translate(-50%, 225%);
}
.row-two .down:after {
  background-color: #FE6D73;
  bottom: -50%;
  left: 0;
  transform: skewY(9.3deg) scaleY(0);
  transform-origin: bottom center;
}
.row-two .down:hover:after, .row-two .down:focus:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}
.row-two .down:hover span:last-child, .row-two .down:focus span:last-child {
  transform: translateX(-50%) translateY(-65%);
}

/* Glitch */
.glitch, .glitch:after {
  position: relative;
  font-size: 1.2rem;
  border: none;
  color: #EEEEEE;
  padding: 1.5rem;
  background: #6874E8;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.glitch:after {
  --line-0: inset(50% 50% 50% 50%);
  --line-1: inset(80% -0.65rem 0 0);
  --line-2: inset(50% -0.65rem 30% 0);
  --line-3: inset(10% -0.65rem 85% 0);
  --line-4: inset(40% -0.65rem 43% 0);
  --line-5: inset(80% -0.65rem 5% 0);
  position: absolute;
  content: "SECRET TEXT";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0, transparent 3%, #17C3B2 3%, #17C3B2 5%, #FE6D73 5%);
  text-shadow: -3px -3px 0 #FFC857, 3px 3px 0 #17C3B2;
  clip-path: var(--line-0);
}
.glitch:hover:after, .glitch:focus:after {
  animation: 1s glitching;
  animation-timing-function: steps(2, end);
}

@keyframes glitching {
  0% {
    clip-path: var(--line-1);
    transform: translate(-1.25rem, -0.625rem);
  }
  10% {
    clip-path: var(--line-3);
    transform: translate(0.625rem, 0.625rem);
  }
  20% {
    clip-path: var(--line-1);
    transform: translate(-0.625rem, 0.625rem);
  }
  30% {
    clip-path: var(--line-3);
    transform: translate(0, 0.313rem);
  }
  40% {
    clip-path: var(--line-2);
    transform: translate(0.313rem, 0);
  }
  50% {
    clip-path: var(--line-3);
    transform: translate(0.313rem, 0);
  }
  60% {
    clip-path: var(--line-4);
    transform: translate(0.313rem, 0.625rem);
  }
  70% {
    clip-path: var(--line-2);
    transform: translate(-0.625rem, 0.625rem);
  }
  80% {
    clip-path: var(--line-5);
    transform: translate(1.25rem, -0.625rem);
  }
  90% {
    clip-path: var(--line-1);
    transform: translate(-0.625rem, 0);
  }
  100% {
    clip-path: var(--line-1);
    transform: translate(0);
  }
}
/* Slide in */
.slide-in {
  padding: 1.5rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #E6894E;
  background: linear-gradient(to bottom left, #E6894E 50%, transparent 50.1%) top right no-repeat, linear-gradient(to top right, #E6894E 50%, transparent 50.1%) bottom left no-repeat;
  background-size: 1.4695rem 1.4695rem;
  box-shadow: 0 0 0 100px inset var(--s, rgba(34, 0, 34, 0)), 0 0 0 0.313rem inset #E6894E;
  clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 1rem, 100% 100%, 1rem 100%, 0 calc(100% - 1rem));
  transition: color var(--t, 0.3s), background-size 0.3s;
}
.slide-in:focus-visible {
  outline-offset: -0.313rem;
  outline: 5px solid #202020;
  clip-path: none;
  background-size: 0 0;
}
.slide-in:hover, .slide-in:focus, .slide-in:active {
  background-size: 100% 100%;
  color: #EEEEEE;
  --t: 0.2s 0.1s;
}
.slide-in button:active {
  --s: $black;
  transition: none;
}

/* Repeating text */
.endless {
  position: relative;
  display: inline-block;
  background: #17C3B2;
  color: #EEEEEE;
  border: none;
  font-size: 1rem;
  padding: 1.5rem;
  font-weight: 700;
  pointer-events: auto;
  cursor: pointer;
}
.endless:before, .endless:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.endless span {
  display: inline-block;
}
.endless:hover > span, .endless:focus > span {
  opacity: 0;
}
.endless .repeat {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}
.endless .repeat-inner {
  width: fit-content;
  display: flex;
  position: relative;
  --move-initial: calc(-25% + 1rem);
  --move-final: calc(-50% + 1rem);
  transform: translate3d(var(--move-initial), 0, 0);
  animation: repeater 0.85s linear infinite;
  animation-play-state: paused;
  opacity: 0;
}
.endless:hover .repeat-inner, .endless:focus .repeat-inner {
  animation-play-state: running;
  opacity: 1;
  transition-duration: 0.3s;
}
.endless .repeat span {
  text-align: center;
  white-space: nowrap;
  font-style: italic;
  padding: 1.5rem 0.65rem;
  font-weight: 400;
}

@keyframes repeater {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
/* Resize */
.resize {
  position: relative;
  border: none;
  padding: 1.5rem;
  pointer-events: auto;
  cursor: pointer;
  background: none;
}
.resize:before, .resize:after {
  position: absolute;
  width: 100%;
  height: 100%;
}
.resize:before {
  content: "";
  background: #FE6D73;
  top: 1px;
  left: 1px;
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.7, 1);
}
.resize:hover:before, .resize:focus:before {
  transform: scale3d(0.85, 0.8, 2);
}
.resize:after {
  content: "";
  top: 0;
  left: 0;
  border: 1px solid #FE6D73;
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.7, 1);
  border-radius: 0;
  transform: scale3d(0.85, 0.65, 1);
}
.resize:hover:after, .resize:focus:after {
  transform: scale3d(1, 1, 1);
}
.resize span {
  display: inline-block;
  position: relative;
  color: #EEEEEE;
}

/* Row 4 */
.row-four {
  /* Outline */
  /* Shake */
  /* Rotate */
  /* Neu-morphism */
}
.row-four .outline {
  position: relative;
  background: transparent;
  color: #17C3B2;
  margin: 0;
  padding: 1.5rem;
  border: none;
}
.row-four .outline:hover, .row-four .outline:focus {
  color: #55ebdc;
}
.row-four .outline:hover:before, .row-four .outline:focus:before {
  animation: lineBefore 1s forwards;
}
.row-four .outline:hover:after, .row-four .outline:focus:after {
  animation: lineAfter 1s forwards;
}
.row-four .outline:active {
  color: #EEEEEE;
  font-weight: bold;
}
.row-four .outline:before, .row-four .outline:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
}
.row-four .outline:before {
  top: 0;
  left: 0;
  box-shadow: inset 1px 1px 0 0 #17C3B2;
}
.row-four .outline:after {
  right: 0;
  bottom: 0;
  box-shadow: inset -1px -1px 0 0 #17C3B2;
}
@keyframes lineBefore {
  0% {
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
  }
  33% {
    width: 1px;
    height: 100%;
    top: 0;
    left: 0;
  }
  66% {
    width: 1px;
    height: 1px;
    top: calc(100% - 1px);
    left: 0;
  }
  100% {
    width: 100%;
    height: 1px;
    top: calc(100% - 1px);
    left: 0;
  }
}
@keyframes lineAfter {
  0% {
    width: 100%;
    height: 1px;
  }
  33% {
    width: 1px;
    height: 100%;
    bottom: 0;
    right: 0;
  }
  66% {
    width: 1px;
    height: 1px;
    bottom: calc(100% - 1px);
    right: 0;
  }
  100% {
    width: 100%;
    height: 1px;
    bottom: calc(100% - 1px);
    right: 0;
  }
}
.row-four .shake {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 3rem;
  border-radius: 3.125rem;
  opacity: 1;
  background-color: #E6894E;
  color: #EEEEEE;
}
.row-four .shake:hover, .row-four .shake:focus {
  animation: rotate 0.5s ease-in-out both;
}
.row-four .shake:hover span, .row-four .shake:focus span {
  animation: shake 0.5s ease-in-out both;
  animation-delay: 0.03s;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes shake {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(8px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-6px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
.row-four .rotate-letters {
  --duration: .3s;
  display: block;
  background: #6874E8;
  color: #EEEEEE;
  border-radius: 3.125rem;
  padding: 1.5rem;
  line-height: 1rem;
  transform: translateY(0) translateZ(0);
  transition: transform var(--duration) ease;
}
.row-four .rotate-letters div {
  display: flex;
  overflow: hidden;
  text-shadow: 0 1rem 0 #EEEEEE;
}
.row-four .rotate-letters div span {
  display: block;
  backface-visibility: hidden;
  transition: transform var(--duration) ease;
  transform: translateY(0) translateZ(0);
}
.row-four .rotate-letters div span:nth-child(1) {
  transition-delay: 0.05s;
}
.row-four .rotate-letters div span:nth-child(2) {
  transition-delay: 0.1s;
}
.row-four .rotate-letters div span:nth-child(3) {
  transition-delay: 0.15s;
}
.row-four .rotate-letters div span:nth-child(4) {
  transition-delay: 0.2s;
}
.row-four .rotate-letters div span:nth-child(5) {
  transition-delay: 0.25s;
}
.row-four .rotate-letters div span:nth-child(6) {
  transition-delay: 0.3s;
}
.row-four .rotate-letters div span:nth-child(7) {
  transition-delay: 0.35s;
}
.row-four .rotate-letters div span:nth-child(8) {
  transition-delay: 0.4s;
}
.row-four .rotate-letters div span:nth-child(9) {
  transition-delay: 0.45s;
}
.row-four .rotate-letters div span:nth-child(10) {
  transition-delay: 0.5s;
}
.row-four .rotate-letters div span:nth-child(11) {
  transition-delay: 0.55s;
}
.row-four .rotate-letters:hover, .row-four .rotate-letters:focus {
  transform: translateY(-5px);
}
.row-four .rotate-letters:hover span, .row-four .rotate-letters:focus span {
  transform: translateY(-1rem) translateZ(0);
}
.row-four .neu-morphism {
  padding: 1.5em;
  background: #202020;
  border-radius: 0.5rem;
  color: #EEEEEE;
  transition: 0.2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.075), -6px -6px 10px rgba(255, 255, 255, 0.05), 6px 6px 8px rgba(255, 255, 255, 0.025), 6px 6px 10px rgba(0, 0, 0, 0.7);
}
.row-four .neu-morphism:hover, .row-four .neu-morphism:focus {
  color: rgba(238, 238, 238, 0.6);
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.075), -2px -2px 4px rgba(255, 255, 255, 0.05), 2px 2px 2px rgba(255, 255, 255, 0.025), 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.row-four .neu-morphism:active {
  color: rgb(254, 109, 115);
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.07), inset -2px -2px 4px rgba(255, 255, 255, 0.05), inset 2px 2px 2px rgba(255, 255, 255, 0.025), inset 2px 2px 4px rgba(0, 0, 0, 0.75);
}

/*# sourceMappingURL=buttons.css.map */
