@import "custom";

body {
	background-color: $black;
	font-family: $font;
}

// Header
header {
	padding: 1.5rem 2rem;
	nav{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 1.25rem;
		a {
			background-color: $white;
			padding: 0.625rem;
			border: none;
				text-decoration: none;
				color: $black;

			&:hover, &:focus {
				outline: none;
				background-color: $yellow;

			}
		}

		h1 {
			color: $white;
			font-size: 3rem;
			margin: 0;
		}
	}
	p{
		color: $yellow;
		font-weight: 200;
		padding-left: 6.4rem;
		margin: 0;
	}

}

// Buttons base

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.5rem;

	button {
		padding: 1.25rem;
		border: none;
		font-size: 1.2rem;
	}

	section {
		width: 100%;

		h2 {
			color: $white;
			font-weight: 200;
			margin-bottom: 2rem;
		}

		ul {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			gap: 4rem;
			list-style: none;
		}

		.codepen{
			margin: 3rem 0 4rem;
			width: 100%;
			opacity: 1;
			display: block;
			visibility: visible;
			transition: all 0.6s linear;
		}

		.codepen.hidden {
			display: none;
			visibility: hidden;
		}
		.codepen.visually-hidden{
			opacity: 0;
		}
	}
}

.codepen{
	display: none;
}

// Row 1
.button-one {
	position: relative;
	background-color: transparent;
	color: $white;
	border: 1px solid $white;
	outline: none;
	letter-spacing: 1px;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;

	&:after {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		content: "";
		transition: 0.3s;
	}

	&:hover:after, &:focus:after {
		top: 0;
		left: 0;
	}

}

.left-up:after {
	top: -0.625rem;
	left: -0.625rem;
	background-color: $green;
}

.left-down:after {
	top: 0.625rem;
	left: -0.625rem;
	background-color: $orange;
}

.right-down:after {
	top: 0.625rem;
	left: 0.625rem;
	background-color: $blue;
}

.right-up:after {
	top: -0.625rem;
	left: 0.625rem;
	background-color: $red;
}

// Row 2
.row-two{
	 button {
		outline: none;
		display: inline-block;
		position: relative;
		overflow: hidden;
		border: 2px solid $white;
		color: $white;
		padding: 1.125rem;
		cursor: pointer;
		background: $black;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;

		 span:first-child {
			 position: relative;
			 transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
			 z-index: 1;
		 }

		span:last-child {
			 color: $white;
			 display: block;
			 position: absolute;
			 bottom: 0;
			 transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
			 z-index: 3;
			 opacity: 0;
			 top: 50%;
			 left: 50%;
			 height: 1rem;
		 }

		&:after {
			content: "";
			position: absolute;
			width: 110%;
			height: 100%;
			z-index: 2;
			transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
		}

		 &:hover span:last-child, &:focus span:last-child {
			 opacity: 1;
			 transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
		 }

	}

	.left {
		span:last-child {
			transform: translate(-250%,-50%);
		}

		&:after {
			background-color: $green;
			left: -50%;
			top: 0;
			transform: skewX(9.3deg) scaleX(0);
			transform-origin: left center;
		}

		&:hover:after, &:focus:after {
			transform-origin: left center;
			transform: skewX(9.3deg) scaleX(2);
		}

		&:hover span:last-child, &:focus span:last-child {
			transform:translate(-50%,-65%);
		}
	}

	.up{

		span:last-child {
			transform: translate(-50%,-425%);
		}

		&:after {
			background-color: $orange;
			top: -50%;
			left: 0;
			transform: skewY(9.3deg) scaleY(0);
			transform-origin: top center;
		}

		&:hover:after, &:focus:after {
			transform-origin: top center;
			transform: skewY(9.3deg) scaleY(2);
		}

		&:hover span:last-child, &:focus span:last-child {
			transform: translateX(-50%) translateY(-65%);
		}
	}

	.right{
		span:last-child {
			transform: translate(250%,-50%);
		}

		&:after {
			background-color: $blue;
			right: -50%;
			top: 0;
			transform: skewX(9.3deg) scaleX(0);
			transform-origin: right center;
		}

		&:hover:after, &:focus:after {
			transform-origin: right center;
			transform: skewX(9.3deg) scaleX(2);
		}

		&:hover span:last-child, &:focus span:last-child {
			transform:translate(-50%,-65%);
		}
	}

	.down{
		span:last-child {
			transform: translate(-50%,225%);
		}

		&:after {
			background-color: $red;
			bottom: -50%;
			left: 0;
			transform: skewY(9.3deg) scaleY(0);
			transform-origin: bottom center;
		}

		&:hover:after, &:focus:after {
			transform-origin: bottom center;
			transform: skewY(9.3deg) scaleY(2);
		}

		&:hover span:last-child, &:focus span:last-child {
			transform: translateX(-50%) translateY(-65%);
		}
	}
}




