@import "custom";

body {
	background-color: $black;
	font-family: $font;
}

// Header
header {
	padding: 1.5rem 2rem;

	nav {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 1.25rem;

		a {
			background-color: $white;
			padding: 0.625rem;
			border: none;
			text-decoration: none;
			color: $black;

			&:hover, &:focus {
				outline: none;
				background-color: $yellow;

			}
		}

		h1 {
			color: $white;
			font-size: 3rem;
			margin: 0;
		}
	}

	p {
		color: $yellow;
		font-weight: 200;
		padding-left: 6.4rem;
		margin: 0;
	}

}

main {
	padding: 2rem 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;

	section{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 2rem;
		height: 400px;
	}

	/* Code pens*/
	.codepen-container {
		width: 100%;
		height: 100%;
	}

	/* Card one */
	.card-one {

		figure {
			display: grid;
			border-radius: 1rem;
			overflow: hidden;
			cursor: pointer;
			width: 100%;
			max-width: 300px;
			height: 400px;
			margin: 0;

			* {
				grid-area: 1/1;
				transition: .3s;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}

			figcaption {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-end;
				padding: 1rem;
				background: rgb($black, 0.75);
				color: $white;
				clip-path: inset(0 var(--path, 100%) 0 0);
				-webkit-mask-composite: xor;
				-webkit-mask-clip: text;
				margin: -1px;

				h1 {
					margin: 0;
				}
			}

			&:hover, &:focus {
				figcaption {
					--path: 0%;

					img {
						transform: scale(1.2);
					}
				}
			}

		}

	}

	/* Card two */
	.card-two {
		figure{
			width: 100%;
			max-width: 300px;
			height: 400px;
			position: relative;
			overflow: hidden;
			margin: 0;
			box-shadow: 0 0 32px -10px rgba($black, 0.08);

			figcaption {
				width: 100%;
				text-align: center;
				background-color: $blue;
				padding: 0 60px 50px;
				position: absolute;
				bottom: 0;
				left: 0;
				transform: translateY(0);
				transition: all 0.35s 0.35s cubic-bezier(.1, .72, .4, .97);
				will-change: bottom, background-color, transform, padding;
				z-index: 1;
				color: $white;

				&::before,
				&::after {
					content: "";
					width: 100%;
					height: 120px;
					background-color: inherit;
					position: absolute;
					left: 0;
					z-index: -1;
				}

				&::before {
					top: -80px;
					clip-path: ellipse(60% 80px at bottom center);
				}

				&::after {
					bottom: -80px;
					clip-path: ellipse(60% 80px at top center);
				}

				h2 {
					font-size: 1.5rem;
					margin-bottom: 1em;

					span {
						color: $yellow;
					}
				}

				p {
					font-size: 0.75rem;
				}

				a {
					position: absolute;
					bottom: 1rem;
					left: 50%;
					transform: translate(-50%, 10%);
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					text-decoration: none;
					color: $yellow;
					opacity: 0;
					padding: 10px;
					transition: all 0.35s;

					&:hover {

						svg {
							transform: translateX(4px);
						}
					}

					svg {
						width: 18px;
						margin-left: 4px;
						transition: transform 0.3s;
					}
				}
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				z-index: -1;
				transform: scale(1.2);
				transition: 0.35s 0.35s transform cubic-bezier(.1, .72, .4, .97);
			}

			&:hover {

				figcaption {
					background-color: $black;
					bottom: 100%;
					transform: translateY(100%);
					padding: 50px 60px;
					transition: all 0.35s cubic-bezier(.1, .72, .4, .97);
				}

				a {
					opacity: 1;
					transform: translate(-50%, 0);
					transition: all 0.3s 0.35s cubic-bezier(.1, .72, .4, .97);
				}
			}

			img {
				transform: scale(1);
				transition: 0.35s 0.1s transform cubic-bezier(.1, .72, .4, .97);
			}

		}

	}

	/* Card Three */
	.card-three{
		.category-card {
			border-radius: 16px;
			box-shadow: 0 30px 30px -25px rgba(#4133B7, .25);
			width: 100%;
			max-width: 300px;
			height: 400px;
			background-color: $white;
			padding: 1.5rem;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;

			.tag {
				display: inline-block;
				background-color: $blue;
				color: $white;
				font-weight: 600;
				font-size: 0.875rem;
				padding: 0.5em 0.75em;
				line-height: 1;
				border-radius: 6px;
				& + * {
					margin-top: 1rem;
				}
			}

			h2 {
				font-size: 1.5rem;
				color: $black;
				line-height: 1.25;
				& + * {
					margin-top: 1rem;
				}
			}

			p {
				color:$black;
				& + * {
					margin-top: 1.25rem;
				}
			}

			button {
				font: inherit;
				line-height: 1;
				background-color: $white;
				border: 2px solid $blue;
				color: $blue;
				padding: 0.5em 1em;
				border-radius: 6px;
				font-weight: 500;
				display: inline-flex;
				align-items: center;
				justify-content: space-between;
				gap: 0.5rem;
				cursor: pointer;

				&:hover,
				&:focus {
					background-color: $blue;
					color: $white;
				}
			}

		}

	}
}
